Silverlight.BoundedContext/Service References/ServiceWCF/ServiceN_Capas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceN_Capas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50901/ServiceN-Capas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50901/ServiceN-Capas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50901/ServiceN-Capas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Application.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceN_Capas_GetAllPlantas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlantas" />
  </wsdl:message>
  <wsdl:message name="IServiceN_Capas_GetAllPlantas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlantasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceN_Capas_InsertarPlantas_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPlantas" />
  </wsdl:message>
  <wsdl:message name="IServiceN_Capas_InsertarPlantas_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPlantasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceN_Capas_UpdatePlanta_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlanta" />
  </wsdl:message>
  <wsdl:message name="IServiceN_Capas_UpdatePlanta_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlantaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceN_Capas_ObtenerTodosLosDepartamentosPorPlanta_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosLosDepartamentosPorPlanta" />
  </wsdl:message>
  <wsdl:message name="IServiceN_Capas_ObtenerTodosLosDepartamentosPorPlanta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosLosDepartamentosPorPlantaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceN_Capas_InsertarDepartamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarDepartamentos" />
  </wsdl:message>
  <wsdl:message name="IServiceN_Capas_InsertarDepartamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarDepartamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceN_Capas_UpdateDepartamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDepartamentos" />
  </wsdl:message>
  <wsdl:message name="IServiceN_Capas_UpdateDepartamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDepartamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceN_Capas_OtenerTodosLosProcesosPorDepto_InputMessage">
    <wsdl:part name="parameters" element="tns:OtenerTodosLosProcesosPorDepto" />
  </wsdl:message>
  <wsdl:message name="IServiceN_Capas_OtenerTodosLosProcesosPorDepto_OutputMessage">
    <wsdl:part name="parameters" element="tns:OtenerTodosLosProcesosPorDeptoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceN_Capas_InsertarProcesosPorDepto_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarProcesosPorDepto" />
  </wsdl:message>
  <wsdl:message name="IServiceN_Capas_InsertarProcesosPorDepto_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarProcesosPorDeptoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceN_Capas_ObtenerTodosLosProcesos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosLosProcesos" />
  </wsdl:message>
  <wsdl:message name="IServiceN_Capas_ObtenerTodosLosProcesos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosLosProcesosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceN_Capas">
    <wsdl:operation name="GetAllPlantas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceN_Capas/GetAllPlantas" message="tns:IServiceN_Capas_GetAllPlantas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceN_Capas/GetAllPlantasResponse" message="tns:IServiceN_Capas_GetAllPlantas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarPlantas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceN_Capas/InsertarPlantas" message="tns:IServiceN_Capas_InsertarPlantas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceN_Capas/InsertarPlantasResponse" message="tns:IServiceN_Capas_InsertarPlantas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlanta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceN_Capas/UpdatePlanta" message="tns:IServiceN_Capas_UpdatePlanta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceN_Capas/UpdatePlantaResponse" message="tns:IServiceN_Capas_UpdatePlanta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosLosDepartamentosPorPlanta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceN_Capas/ObtenerTodosLosDepartamentosPorPlanta" message="tns:IServiceN_Capas_ObtenerTodosLosDepartamentosPorPlanta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceN_Capas/ObtenerTodosLosDepartamentosPorPlantaResponse" message="tns:IServiceN_Capas_ObtenerTodosLosDepartamentosPorPlanta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarDepartamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceN_Capas/InsertarDepartamentos" message="tns:IServiceN_Capas_InsertarDepartamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceN_Capas/InsertarDepartamentosResponse" message="tns:IServiceN_Capas_InsertarDepartamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceN_Capas/UpdateDepartamentos" message="tns:IServiceN_Capas_UpdateDepartamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceN_Capas/UpdateDepartamentosResponse" message="tns:IServiceN_Capas_UpdateDepartamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OtenerTodosLosProcesosPorDepto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceN_Capas/OtenerTodosLosProcesosPorDepto" message="tns:IServiceN_Capas_OtenerTodosLosProcesosPorDepto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceN_Capas/OtenerTodosLosProcesosPorDeptoResponse" message="tns:IServiceN_Capas_OtenerTodosLosProcesosPorDepto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarProcesosPorDepto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceN_Capas/InsertarProcesosPorDepto" message="tns:IServiceN_Capas_InsertarProcesosPorDepto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceN_Capas/InsertarProcesosPorDeptoResponse" message="tns:IServiceN_Capas_InsertarProcesosPorDepto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosLosProcesos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceN_Capas/ObtenerTodosLosProcesos" message="tns:IServiceN_Capas_ObtenerTodosLosProcesos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceN_Capas/ObtenerTodosLosProcesosResponse" message="tns:IServiceN_Capas_ObtenerTodosLosProcesos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceN_Capas" type="tns:IServiceN_Capas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPlantas">
      <soap:operation soapAction="http://tempuri.org/IServiceN_Capas/GetAllPlantas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarPlantas">
      <soap:operation soapAction="http://tempuri.org/IServiceN_Capas/InsertarPlantas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlanta">
      <soap:operation soapAction="http://tempuri.org/IServiceN_Capas/UpdatePlanta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosLosDepartamentosPorPlanta">
      <soap:operation soapAction="http://tempuri.org/IServiceN_Capas/ObtenerTodosLosDepartamentosPorPlanta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarDepartamentos">
      <soap:operation soapAction="http://tempuri.org/IServiceN_Capas/InsertarDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartamentos">
      <soap:operation soapAction="http://tempuri.org/IServiceN_Capas/UpdateDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OtenerTodosLosProcesosPorDepto">
      <soap:operation soapAction="http://tempuri.org/IServiceN_Capas/OtenerTodosLosProcesosPorDepto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarProcesosPorDepto">
      <soap:operation soapAction="http://tempuri.org/IServiceN_Capas/InsertarProcesosPorDepto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosLosProcesos">
      <soap:operation soapAction="http://tempuri.org/IServiceN_Capas/ObtenerTodosLosProcesos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceN_Capas">
    <wsdl:port name="BasicHttpBinding_IServiceN_Capas" binding="tns:BasicHttpBinding_IServiceN_Capas">
      <soap:address location="http://localhost:50901/ServiceN-Capas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>